.back-to-top {
  position: fixed;
  right: rem(32);
  bottom: 8rem;
  width: rem(40);
  height: rem(40);
  background-color: hsl(var(--base));
  color: hsl(var(--light));
  text-align: center;
  border-radius: 50%;
  z-index: 99;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 0.25rem hsl(var(--black) / 0.5);
  // display: none;
}

.back-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// whats app icon styling
.whats-app-icon {
  position: fixed;
  bottom: 80px;
  right: 1.82rem;
  width: 45px;
  height: 45px;
  z-index: 10000;

  &_pic {
    width: 100%;
    object-fit: contain;
  }
}
